/* ===== CHECKOUT PAGE ===== */
.checkout-page {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: 'Quicksand', sans-serif;
}

.checkout-title {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  margin-bottom: 30px;
}

.checkout-content {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 40px;
}

/* LEFT */
.checkout-left h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

.checkout-summary {
  margin-top: 20px;
  font-size: 15px;
}

.checkout-summary p {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.checkout-summary span {
  font-weight: 600;
}

/* RIGHT */
.checkout-right {
  background: #fafafa;
  border-radius: 8px;
  padding: 25px;
  margin-top: 0px;
    transform: translateY(-40px);
}

.checkout-right h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.checkout-right .form-label {
  font-size: 14px;
  font-weight: 600;
}

.checkout-right .form-control {
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.checkout-right textarea {
  resize: none;
}

.checkout-right button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border-radius: 10px;
  background: #000;
  border: none;
  font-size: 15px;
  font-weight: 600;
}

.checkout-right button:hover {
  background: #222;
}
.checkout-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.checkout-img {
  width: 60px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.checkout-info {
  flex: 1;
}

.checkout-name {
  font-weight: 600;
  margin-bottom: 4px;
}

.checkout-meta {
  font-size: 14px;
  color: #777;
}

.checkout-price {
  font-weight: 600;
}
.checkout-page {
  margin-top: 120px; /* tăng/giảm số này */
}


/* MOBILE */
@media (max-width: 768px) {
  .checkout-content {
    grid-template-columns: 1fr;
  }
}
